* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

hr {
    margin-bottom: 10px;
}

body {
    padding: 50px;
    font-family: Calibri,sans-serif;
    background-color: darkslategray;
}

#app {
    margin: 0 auto;
    padding: 30px 30px 15px 30px;
    max-width: 900px;
    background-color: #fff;
    border-radius: 20px;
}

.title {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 5px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 10px;
}

.btn {
    border: none;
    margin-bottom: 15px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 15px;
    color: #fff;
    background-color: chocolate;
    transition: .3s all ease 0s;
}

.btn:hover {
    cursor: pointer;
    background-color: #e57a30;
}

.btn_del {
    margin: 0;
    padding: 5px 15px;
    color: #fff;
    font-size: 14px;
    background-color: #f75634;
}

.btn_del:hover {
    background-color: #e56148;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.list-item {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}